<div class="seek-bar">
  <div class="login-user">
    <p class="login-user__name"><i class="fas fa-user"></i> Guest</p>
    <p class="login-user__favorite-space"><i class="fas fa-heart"></i> My favorits</p>
  </div>
</div>
